.userList {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 30x; */
}

.listUser {
  width: 100%;
  background: #c0c0aa;
  background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);
  background: linear-gradient(to right, #1cefff, #c0c0aa);
}

.userButton {
  width: 150px;
  margin-right: 100px;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 7px 7px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  cursor: pointer;
  color: white;
  margin-right: 20px;
}

.userListDelete {
  color: red;
  cursor: pointer;
}

.adduser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.prag {
  margin-top: 10px;
  margin-left: 100px;
}

@media screen and (max-width: 600px) {
}
